*{
    font-family: 'Varela Round',sans-serif !important;
}

.head-image{
    background-image: url(../../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-image-2{
    background-image: url(../../images/page_header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-image{
    background-image: url(../../images/about-bg-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-image h2{
    color: white;
    font-weight: 500;
    font-size: 3rem;
    padding: 220px 220px 220px 220px;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
}

.head-image-2 h2{
    color: white;
    font-weight: 500;
    font-size: 3rem;
    padding: 220px 220px 220px 220px;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
}
.about-image h2{
    color: white;
    font-weight: 900;
    font-size: 3.8rem;
}

.about-black-bg{
    background-color: #000000a3;
    padding: 220px 220px 220px 220px;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
}

.heading h4{
    color: #4064D7;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3) !important;
    padding: 0;
    margin: 0;
    line-height: 1;
    clear: both;
    font-size: 1.4rem;
    outline: 0;
    text-align: center;
    font-weight: normal;
}

.about-img h3{
    color: #4064D7;
    font-size: 2.1428571428571rem;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: left;
}

.about-img-2 h3{
    color: #4064D7;
    font-size: 2.1428571428571rem;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: right;
}

.about-img-2 p{
    text-align: right;
}

.about-img img:hover { 
    animation: Shake 0.5s linear; 
} 

.about-img-2 img:hover { 
    animation: Shake 0.5s linear; 
} 
  
/*Using keyframes for shaking an image*/
@keyframes Shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(2px, 2px) rotate(2deg); }
    20% { transform: translate(0, 0) rotate(0eg); }
    30% { transform: translate(-2px, 2px) rotate(-2deg); }
    40% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(2px, 2px) rotate(2deg); }
    60% { transform: translate(0, 0) rotate(0eg); }
    70% { transform: translate(-2px, 2px) rotate(-2deg); }
    80% { transform: translate(0, 0) rotate(0deg); }
    90% { transform: translate(2px, 2px) rotate(2deg); }
    100% { transform: translate(0, 0) rotate(0eg); }
  }

.company-details{
    text-align: center;
    background-image: url(../../images/green_bg_light-1.jpg);
    background-size: cover;
}

.company-details h2{
    font-weight: 600;
}

.company-details p{
    color: grey;
}

.heading-2 h4{
    color: #4064D7;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3) !important;
    padding: 0;
    margin: 0;
    line-height: 1;
    clear: both;
    font-size: 2rem;
    outline: 0;
    text-align: center;
    font-weight: normal;
}

.line{
    border-top: 1px solid #4064D7;
    width: 15%;
    margin: auto;
}

.explore-more h3{
    color: #4064D7;
    font-weight: normal;
    font-size: 2rem;
}

.mail h4{
    color: #23A455;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3) !important;
    padding: 0;
    margin: 0;
    line-height: 1;
    clear: both;
    font-size: rem;
    outline: 0;
    text-align: center;
    font-weight: normal;
}

.mail a{
    color: #4064D7;
    padding: 0;
    margin: 0;
    line-height: 1;
    clear: both;
    font-size: 1rem;
    outline: 0;
    text-align: center;
    font-weight: normal;
}

.contact p{
    color: black;
}

.contact p:nth-child(1){
    font-size: 1.2rem;
}

.contact p:nth-child(2){
    font-size: 2.6rem;
}

.contact-form p:nth-child(1){
    font-size: 2.6rem;
    color: black;
}
.contact-form p:nth-child(3){
    font-size: 1.5rem;
    color: black;
}

.contact-form input{
    width: 100%;
}

.contact-submit-button{
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #ffffff;
    border-color: #4064d7;
    background-color: #4064d7;
    border-radius: 50px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    font-family: 'Varela Round',sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 1.0714285714286rem;
    line-height: 1;
}

.c1line{
    border-top: 2px solid #4064D7;
    width: 25%;
}




.key-features p:nth-child(1){
    font-size: 1.2rem;
    font-weight: 600;
    color: green;
}

.key-features p:nth-child(2){
    font-size: 1.1rem;
}

/* media query */

@media only screen and (max-width: 768px) {
    .head-image h2{
        font-size: 1rem !important;
        padding: 110px 110px 110px 110px;
    } 
    .head-image-2 h2{
        font-size: 1rem !important;
        padding: 110px 110px 110px 110px;
    } 

    .company-details img{
        margin-bottom: 40px;
    }

    .heading-media h4{
        font-size: 1rem !important;
    }
    
}
